* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

button:focus {
  outline: none;
}

label {
  font-weight: bold;
  display: block;
  color: #464646;
}

input {
  font: inherit;
  border: none;
  border-bottom: 2px solid #ccc;
  color: #494949;
  margin: 1rem 0;
  width: 100%;
  display: block;
}

input:focus {
  outline: none;
  border-color: #ff0062;
}

button {
  font: inherit;
  padding: 0.9rem 1.5rem;
  border: 1px solid #ec2550;
  background: #ec2550;
  color: white;
  border-radius: 4px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

button:hover,
button:active {
  border: 1px solid #f890a7;
  background: #f890a7;
}

.card {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
}

.inline-controls {
  display: flex;
}

.control {
  margin: 1rem;
}

#user-input,
#movie-list,
#filter {
  width: 50rem;
  max-width: 90%;
  margin: 2rem auto;
}

#movie-list {
  display: none;
  list-style: none;
  padding: 1rem;
}

#movie-list.visible {
  display: block;
}

#movie-list li {
  margin: 1rem;
  color: #ff0062;
  font-weight: bold;
  font-size: 1.5rem;
}
